.App {
  text-align: center;
}

button {
  margin: 10px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: solid #fbab61 2px;
  border-radius: 50%;
  background: none;
  color: #fbab61;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.check {
  color: #61fb9c;
  text-decoration: line-through;
}

.todo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border: solid #fbab61 2px;
  width: 600px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.text-input {
  margin: 10px;
  padding: 5px;
  width: 300px;
  border: solid #fbab61 2px;
  border-radius: 5px;
  background: none;
  color: #fbab61;
}

.check-input {
  -webkit-appearance: none;
  background: none;
  border: 2px solid #fbab61;

  padding: 6px;
  border-radius: 50%;
}

.check-input:checked {
  background: #61fb9c;
}
